/*---------------------------------------------------------------*/
/*-------------------errorPage.CSS STYLES------------------------*/
/*---------------------------------------------------------------*/

body {
    background-image: url('errorPage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    padding-top: 500px;

}


/*---------------------------------------------------------------*/
/*------------------------END errorPage.CSS----------------------*/
/*---------------------------------------------------------------*/