/*---------------------------------------------------------------*/
/*-------------------LIST STYLES---------------------------------*/
/*---------------------------------------------------------------*/
#view {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

#view td, #view th {
    border: 1px solid #ddd;
    padding: 8px;
}

#view tr:nth-child(even){background: linear-gradient(45deg, rgba(212,255,176,1) 0%, rgba(0,128,128,1) 100%);}



#view th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.list_container {
    width: 900px;
    margin: 100px 200px 75px 420px;
    padding: 25px;
    
#body {
   background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

}

.addNew, homepage {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
	
	

/*---------------------------------------------------------------*/
/*------------------------END LIST STYLES------------------------*/
/*---------------------------------------------------------------*/